<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/weathericon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>It uses data from mapbox.com and darksky.net.</p>
            <img class="potrait" src="./img/pravinewa.jpg">
        </div>
        {{>footer}}
    </body>
</html>